<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h1>Experienced Trainers</h1>
      </div>
    </div>
<!-- End Breadcrumbs -->

    <div *ngFor="let m of TeachersTab">
      <app-teacher-structure [teacherStructureInput]="m" ></app-teacher-structure>
    </div>

<!-- (teacherStructureOutput)="updateTrainers($event)" -->

    <!-- ======= Trainers Section ======= -->
    <!-- <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          
          <div *ngFor="let m of TeachersTab">
            <app-teacher-structure [teacherStructureInput]="m"></app-teacher-structure>
          </div>

        </div>

      </div>
    </section> -->
<!-- End Trainers Section -->
