    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
          <h1>Welcome " Student "</h1>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <div class="d-flex align-items-start" style="margin-left: 100px; margin-top: 60px;">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Notes</button>
      </div>

      <div class="tab-content" id="v-pills-tabContent" style="margin-left: 30px;">

        <!-- Notes tab-->
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
          <app-student-tab-dashboard></app-student-tab-dashboard>
        </div>

      </div>
    </div>