<section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>{{teacherStructureInput.firstName}} {{teacherStructureInput.lastName}}</h4>
              <span>{{teacherStructureInput.speciality}}</span>
              <p>{{teacherStructureInput.email}}</p>
              <p>{{teacherStructureInput.phone}}</p>

              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
              <div style="margin-top: 10px;">
                <button type="button" class="btn btn-outline-danger" (click)="delete(teacherStructureInput._id)">Delete</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>